<div class="bg-gray-3000">

    <section class="dashboard d-flex overflow-hidden">
        <div class="dashboard-right d-flex pb-10">
            <div class="flex xl:flex-row -mx-4">
                <div class="xl:w-[46%] w-full px-4" >
                    <div class="bg-white rounded-[10px] sm:px-5 p-2.5 sm:py-[29px]">
                        <ul class="flex items-center flex-wrap mx-[-9px]">
                            <li class="sm:w-1/2 w-full px-[9px] sm:mb-0 mb-2.5">
                                <a href="workspace.html"
                                    class="progetto bg-sea-green-1100/[0.1] flex items-center justify-center h-[42px] w-full rounded-[10px] text-sea-green-1100 font-Ubuntu font-medium sm:text-lg text-base">Nuovo
                                    progetto
                                    <svg class="ml-2.5" width="21" height="20" viewBox="0 0 21 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="10.5" cy="10" r="10" fill="white" />
                                        <g clip-path="url(#clip0_3989_12502)">
                                            <path d="M10.5 5.33301V14.6663" stroke="#20C9BB" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M5.83325 10H15.1666" stroke="#20C9BB" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_3989_12502">
                                                <rect width="16" height="16" fill="white"
                                                    transform="translate(2.5 2)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </a>
                            </li>
                            <li class="sm:w-1/2 w-full px-[9px]">
                                <a href="#"
                                    class="nuovo bg-gray-1200/[0.1] flex items-center justify-center h-[42px] w-full rounded-[10px] text-gray-1200 font-Ubuntu font-medium sm:text-lg text-base">Nuovo
                                    report
                                    <svg class="ml-2.5" width="21" height="20" viewBox="0 0 21 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="10.5" cy="10" r="10" fill="white" />
                                        <g clip-path="url(#clip0_3989_12502)">
                                            <path d="M10.5 5.33301V14.6663" stroke="#AAAAAA" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M5.83325 10H15.1666" stroke="#AAAAAA" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_3989_12502">
                                                <rect width="16" height="16" fill="white"
                                                    transform="translate(2.5 2)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bg-white rounded-[10px] sm:px-5 p-2.5 mt-5">
                        <h4 class="text-black-1200 sm:text-xl text-base font-medium font-Ubuntu leading-none">Progetti
                            recenti
                        </h4>
                        <div class="mt-3 overflow-x-auto colonna-table">
                            <table
                                class="sm:w-full w-[340px] 3xl:border-spacing-y-[9.5px] border-spacing-y-[10px] border-separate">
                                <thead>
                                    <tr>
                                        <th
                                            class="file text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3 rounded-l-lg">
                                            Nome</th>
                                        <th
                                            class="file text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3">
                                            Data</th>
                                        <th
                                            class="file text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3 rounded-r-lg">
                                            Tag</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="border-b py-1.5 px-3 border-solid border-gray-1300 colonna-table">
                                            <div class="">
                                                <h4
                                                    class="text-black-1200 mb-2 font-Ubuntu font-normal text-sm leading-none home-item-name">
                                                    Beta</h4>
                                                <p
                                                    class="text-black-1200 font-Ubuntu font-light text-[10px] leading-none">
                                                    4 minuti fa</p>
                                            </div>
                                        </td>
                                        <td
                                            class="date-color text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                            03.12.2023</td>
                                        <td class="border-b border-solid border-gray-1300 py-1.5 px-3"><span
                                                class="Fatturato text-purple-1100  font-Ubuntu font-medium text-[10px] flex items-center justify-center rounded-[5px] bg-purple-1100/[0.1] h-[26px] sm:w-[100px] w-20">Fatturato
                                                23</span></td>
                                    </tr>
                                    <tr>
                                        <td class="border-b py-1.5 px-3 border-solid border-gray-1300 colonna-table">
                                            <div class="">
                                                <h4
                                                    class="text-black-1200 mb-2 font-Ubuntu font-normal text-sm leading-none home-item-name">
                                                    Gamma</h4>
                                                <p
                                                    class="text-black-1200 font-Ubuntu font-light text-[10px] leading-none">
                                                    56 minuti fa</p>
                                            </div>
                                        </td>
                                        <td
                                            class="date-color text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                            13.10.2023</td>
                                        <td class=" border-b border-solid border-gray-1300 py-1.5 px-3"><span
                                                class="Marketing text-yellow-1100  font-Ubuntu font-medium text-[10px] flex items-center justify-center rounded-[5px] bg-yellow-1100/[0.1] h-[26px] sm:w-[100px] w-20">Marketing</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-b py-1.5 px-3 border-solid border-gray-1300 colonna-table">
                                            <div class="">
                                                <h4
                                                    class="text-black-1200 mb-2 font-Ubuntu font-normal text-sm leading-none home-item-name">
                                                    Delta</h4>
                                                <p
                                                    class="text-black-1200 font-Ubuntu font-light text-[10px] leading-none">
                                                    48 ore fa</p>
                                            </div>
                                        </td>
                                        <td
                                            class="date-color text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                            01.10.2023</td>
                                        <td class="border-b border-solid border-gray-1300 py-1.5 px-3"><span
                                                class="Prodotto text-sea-green-1100  font-Ubuntu font-medium text-[10px] flex items-center justify-center rounded-[5px] bg-sea-green-1100/[0.1] h-[26px] sm:w-[100px] w-20">Prodotto
                                                3</span></td>
                                    </tr>
                                    <tr>
                                        <td class="border-b py-1.5 px-3 border-solid border-gray-1300 colonna-table">
                                            <div class="">
                                                <h4
                                                    class="text-black-1200 mb-2 font-Ubuntu font-normal text-sm leading-none home-item-name home-item-name">
                                                    Ypsilon version
                                                    2</h4>
                                                <p
                                                    class="text-black-1200 font-Ubuntu font-light text-[10px] leading-none">
                                                    14 giorni fa</p>
                                            </div>
                                        </td>
                                        <td
                                            class="date-color text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                            26.09.2023</td>
                                        <td class=" border-b py-1.5 px-3 border-solid border-gray-1300 colonna-table">
                                            <span
                                                class="Vendite text-red-1100 font-Ubuntu font-medium text-[10px] flex items-center justify-center rounded-[5px] bg-red-1100/[0.1] h-[26px] sm:w-[100px] w-20">Vendite
                                                24</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="bg-white rounded-[10px] sm:px-5 p-2.5 mt-5">
                        <h4 class="text-black-1200 sm:text-xl text-base font-medium font-Ubuntu leading-none">File di
                            dati recenti
                        </h4>
                        <div class=" mt-3 colonna-table">
                            <table class="w-full border-spacing-y-[10px] border-separate">
                                <thead>
                                    <tr>
                                        <th 
                                            class="file text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3 rounded-l-lg">
                                            Nome</th>
                                        <th
                                            class="file text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3">
                                            Data</th>
                                        <th
                                            class="file text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3 rounded-r-lg">
                                            Formato</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="border-b py-1.5 px-3 border-solid border-gray-1300 colonna-table">
                                            <div class="">
                                                <h4
                                                    class="text-black-1200 font-Ubuntu font-normal text-sm leading-none home-item-name">
                                                    Negozio 1</h4>
                                            </div>
                                        </td>
                                        <td
                                            class="date-color text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                            06.12.2023</td>
                                        <td class="border-b border-solid border-gray-1300 py-1.5 px-3"><span
                                                class="text-bg text-black-1200  font-Ubuntu font-medium text-xs flex items-center justify-center rounded-[100px] bg-gray-1200/[0.1] h-[26px] w-10">xls</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-b py-1.5 px-3 border-solid border-gray-1300 colonna-table">
                                            <div class="">
                                                <h4
                                                    class="text-black-1200 font-Ubuntu font-normal text-sm leading-none home-item-name">
                                                    Negozio 2</h4>
                                            </div>
                                        </td>
                                        <td
                                            class="date-color text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                            03.12.2023</td>
                                        <td class="border-b border-solid border-gray-1300 py-1.5 px-3"><span
                                                class="text-bg text-black-1200  font-Ubuntu font-medium text-xs flex items-center justify-center rounded-[100px] bg-gray-1200/[0.1] h-[26px] w-10">txt</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-b py-1.5 px-3 border-solid border-gray-1300 colonna-table">
                                            <div class="">
                                                <h4
                                                    class="text-black-1200 font-Ubuntu font-normal text-sm leading-none home-item-name">
                                                    Azienda 1</h4>
                                            </div>
                                        </td>
                                        <td
                                            class="date-color text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                            01.12.2023</td>
                                        <td class="border-b border-solid border-gray-1300 py-1.5 px-3"><span
                                                class="text-bg text-black-1200  font-Ubuntu font-medium text-xs flex items-center justify-center rounded-[100px] bg-gray-1200/[0.1] h-[26px] w-10">pdf</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-b py-1.5 px-3 border-solid border-gray-1300 colonna-table">
                                            <div class="">
                                                <h4
                                                    class="text-black-1200 font-Ubuntu font-normal text-sm leading-none home-item-name">
                                                    Azienda 2</h4>
                                            </div>
                                        </td>
                                        <td
                                            class="date-color text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                            13.11.2023</td>
                                        <td class="border-b border-solid border-gray-1300 py-1.5 px-3"><span
                                                class="text-bg text-black-1200  font-Ubuntu font-medium text-xs flex items-center justify-center rounded-[100px] bg-gray-1200/[0.1] h-[26px] w-10">xls</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="bg-white rounded-[10px] sm:px-5 p-2.5 mt-5">
                        <h4 class="text-black-1200 sm:text-xl text-base font-medium font-Ubuntu leading-none mb-[18px]">
                            Importa
                            dati</h4>
                        <div
                            class="importa fileUpload border border-dashed  border-gray-1500 bg-gray-1300/[0.6] rounded-[10px] cursor-pointer text-center relative sm:pt-14 sm:pb-[98px] sm:px-0 p-5">
                            <!-- <input type="file" class="upload" /> -->
                            <h4 class="text-black-1200 text-lg font-normal font-Ubuntu ">Trascina i file qui per
                                caricarli</h4>
                            <span
                                class="text-black-1200 font-Ubuntu font-normal text-[10px] block leading-none mt-[30px] mb-[15px]">oppure</span>
                            <span data-modal-target="default-modal2" data-modal-toggle="default-modal2"
                                class="Seleziona text-white mb-5 font-Ubuntu font-medium text-sm flex items-center justify-center hover:bg-purple-1100 bg-sea-green-1100 rounded-[10px] h-[34px] max-w-[120px] w-full mx-auto">Seleziona
                                i file</span>
                            <p class="text-black-1200/[0.4] font-normal font-Ubuntu text-sm">File supportati: xls, xlsx,
                                txt, csv
                            </p>
                        </div>
                    </div>
                </div>
                <div class="xl:w-[54%] w-full px-4">
                    <div class="bg-white rounded-[10px] sm:px-5 p-2.5 mb-5 xl:mt-0 mt-[30px]">
                        <div class="fare-con flex items-center justify-between sm:flex-nowrap flex-wrap">
                            <h4 class="text-black-1200 sm:text-xl text-base font-medium font-Ubuntu leading-none">Cosa
                                puoi fare con
                                Xelean</h4>
                            <a href="https://xelean.com/tutorial/"
                                class="guarda text-yellow-1100 mt-2\.5 font-Ubuntu font-medium text-sm border border-solid border-yellow-1100 rounded-[10px] h-8 w-[160px] flex items-center justify-center bg-white hover:bg-yellow-1100 hover:text-white">Guarda
                                tutti i tutorial
                            </a>
                        </div>
                        <div class="mt-6">
                            <div
                                class="video-thumbnail bg-gray-3000/[0.5] mb-3 rounded-lg p-2.5 flex items-center sm:flex-nowrap flex-wrap">
                                <div class="sm:max-w-[181px] video-box w-full relative">
                                    <img src="{{getBaseUrl() + '/assets/' + 'images/tutorial-1.png'}}" alt="" class="sm:w-auto w-full" />
                                    <a href="https://youtu.be/k4PiXPtPS8c?si=Ft7A7yGbcyC_iyaS" target="_blank"
                                        class="bg-black-1200/[50%] play-btn hidden rounded-full absolute items-center justify-center w-10 h-10 backdrop-blur-[2px] top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2"><img
                                            src="{{getBaseUrl() + '/assets/' + 'images/play-icon.svg'}}" alt="Come importare un file
                        di dati"></a>
                                </div>
                                <div class="flex-1 w-full sm:pl-5 pl-0 sm:pt-0 pt-5">
                                    <h6 class="Nozioni text-xs font-Ubuntu font-medium text-sea-green-1100">Nozioni fondamentali
                                    </h6>
                                    <h4 class="text-black-1200 my-2 leading-6 font-Ubuntu font-medium text-base"><a
                                            href="https://youtu.be/k4PiXPtPS8c?si=Ft7A7yGbcyC_iyaS" target="_blank">Come
                                            importare un file
                                            di dati</a></h4>
                                    <p
                                        class="date-color text-black-1200/[40%] text font-Ubuntu font-normal text-xs leading-[150%]">
                                        <a href="https://youtu.be/k4PiXPtPS8c?si=Ft7A7yGbcyC_iyaS"
                                            target="_blank">Importiamo un
                                            file di dati sia da una cartella del nostro computer, sia dall'Archivio.</a>
                                    </p>
                                </div>
                            </div>
                            <div
                                class="video-thumbnail bg-gray-3000/[0.5] mb-3 rounded-lg p-2.5 flex items-center sm:flex-nowrap flex-wrap">
                                <div class="sm:max-w-[181px] video-box w-full relative">
                                    <img src="{{getBaseUrl() + '/assets/' + 'images/tutorial-2.png'}}" alt="Come unire file di dati"
                                        class="sm:w-auto w-full" />
                                    <a href="https://youtu.be/RF5OfFAH7c0?si=WOWSnocAHdkeLNuU" target="_blank"
                                        class="bg-black-1200/[50%] play-btn hidden rounded-full absolute  items-center justify-center w-10 h-10 backdrop-blur-[2px] top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2"><img
                                            src="{{getBaseUrl() + '/assets/' + 'images/play-icon.svg'}}" alt=""></a>
                                </div>
                                <div class="flex-1 w-full sm:pl-5 pl-0 sm:pt-0 pt-5">
                                    <h6 class="Workspace text-xs font-Ubuntu font-medium heading-text text-purple-1100">Workspace
                                        base</h6>
                                    <h4 class="text-black-1200 my-2 leading-6 font-Ubuntu font-medium text-base"><a
                                            href="https://youtu.be/RF5OfFAH7c0?si=WOWSnocAHdkeLNuU" target="_blank">Come
                                            unire file di dati
                                        </a></h4>
                                    <p
                                        class="date-color text-black-1200/[40%] text font-Ubuntu font-normal text-xs leading-[150%]">
                                        <a href="https://youtu.be/RF5OfFAH7c0?si=WOWSnocAHdkeLNuU"
                                            target="_blank">Uniamo i dati
                                            di due diversi file in un unico foglio di calcolo.</a>
                                    </p>
                                </div>
                            </div>
                            <div
                                class="video-thumbnail bg-gray-3000/[0.5] mb-3 rounded-lg p-2.5 flex items-center sm:flex-nowrap flex-wrap">
                                <div class="sm:max-w-[181px] video-box w-full relative">
                                    <img src="assets/images/tutorial-3.png" alt="Come realizzare abbinamenti tra file di dati"
                                        class="sm:w-auto w-full" />
                                    <a href="https://youtu.be/jy-4z_Fc51A?si=3gcf02z4GjQJiepN" target="_blank"
                                        class="bg-black-1200/[50%] play-btn hidden rounded-full absolute items-center justify-center w-10 h-10 backdrop-blur-[2px] top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2"><img
                                            src="assets/images/play-icon.svg" alt=""></a>
                                </div>
                                <div class="video-thumbnail flex-1 w-full sm:pl-5 pl-0 sm:pt-0 pt-5">
                                    <h6 class="Workspace text-xs font-Ubuntu font-medium heading-text text-purple-1100">Workspace
                                        base</h6>
                                    <h4 class=" text-black-1200 my-2 leading-6 font-Ubuntu font-medium text-base"><a
                                            href="https://youtu.be/jy-4z_Fc51A?si=3gcf02z4GjQJiepN" target="_blank">Come
                                            realizzare
                                            abbinamenti tra file di dati</a></h4>
                                    <p
                                        class="date-color text-black-1200/[40%] text font-Ubuntu font-normal text-xs leading-[150%]">
                                        <a href="https://youtu.be/jy-4z_Fc51A?si=3gcf02z4GjQJiepN"
                                            target="_blank">Creiamo un
                                            thread verticale abbinando due file di dati e ricavandone informazioni
                                            salienti.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white rounded-[10px] mt-5 sm:px-5 p-2.5">
                        <div class="novita flex  justify-between sm:flex-nowrap flex-wrap">
                            <h4 class="text-black-1200 sm:text-xl text-base font-medium font-Ubuntu leading-none">Novità
                                in Xelean
                            </h4>
                            <a href="https://xelean.com/aggiornamenti/"
                                class="scopi text-red-1100 mt-2\.5 font-Ubuntu font-medium text-sm border border-solid border-red-1100 rounded-[10px] h-8 w-[104px] flex items-center justify-center bg-white hover:bg-red-1100 hover:text-white">Scopri
                                di più
                            </a>
                        </div>
                        <div class="sm:mt-[22px] mt-3.5">
                            <div class="">
                                <h4 class="text-black-1200 mb-2.5 leading-none font-Ubuntu font-medium text-base">
                                    Versione 1.0.4</h4>
                                <h6 class="text-xs font-Ubuntu leading-[18px] text-black-1200 mb-1.5 font-normal">27
                                    Febbraio 2024
                                </h6>
                                <p
                                    class="text-black-1200 font-Ubuntu font-light text-xs-rn leading-[150%] max-w-[578px] w-full">
                                    Xelean è ufficialmente in beta. Stiamo introducendo una nuova interfaccia utente in
                                    grado di offrire
                                    un’esperienza d’uso più chiara e semplice. Questi aggiornamenti verranno
                                    implementati da ora fino
                                    all'inizio di Aprile e interesseranno:</p>
                                <ul class="list-disc ml-6 list-items2">
                                    <li>
                                        <p
                                            class="text-black-1200 font-Ubuntu font-light text-xs-rn leading-[150%] max-w-[578px] w-full">
                                            <i>Home</i>, introduzione di widget per accesso rapido;
                                        </p>
                                    </li>
                                    <li>
                                        <p
                                            class="text-black-1200 font-Ubuntu font-light text-xs-rn leading-[150%] max-w-[578px] w-full">
                                            <i>Archivio</i>, area di gestione file e cartelle;
                                        </p>
                                    </li>
                                    <li>
                                        <p
                                            class="text-black-1200 font-Ubuntu font-light text-xs-rn leading-[150%] max-w-[578px] w-full">
                                            <i>Workspace</i>, nuove modali di impostazioni;
                                        </p>
                                    </li>
                                    <li>
                                        <p
                                            class="text-black-1200 font-Ubuntu font-light text-xs-rn text-xs-rnl leading-[150%] max-w-[578px] w-full">
                                            <i>Supporto</i>, per contatti e assistenza.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white rounded-[10px] mt-5 sm:px-5 p-2.5">
                        <div class="utenti flex items-center justify-between sm:flex-nowrap flex-wrap">
                            <h4
                                class="text-black-1200 sm:w-full sm:text-xl text-base font-medium font-Ubuntu  flex items-center leading-none ">
                                Team
                                <span class="date-color text-black-1200/[0.7] leading-none text-sm flex items-center ml-3">2 Utenti
                                    <strong class="text-green-1200 ml-1 font-medium flex items-center"> (5
                                        Consentiti)</strong> </span>
                            </h4>
                            <a href="#" data-modal-target="default-modal" data-modal-toggle="default-modal"
                                class="Invita text-white add-btn h-[34px] sm:w-[86px] sm:mt-0 mt-2.5 w-full font-medium font-Ubuntu flex items-center justify-center text-sm bg-green-1200 border border-solid border-green-1200 hover:bg-transparent hover:text-green-1200 rounded-[10px]">Invita
                                <svg class="ml-2" width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="7" cy="7" r="7" fill="white" />
                                    <g clip-path="url(#clip0_2010_15254)">
                                        <path d="M7 3.7334V10.2667" stroke="#8CC540" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M3.73315 7H10.2665" stroke="#8CC540" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_2010_15254">
                                            <rect width="11.2" height="11.2" fill="white"
                                                transform="translate(1.3999 1.40039)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </div>

                        <div class="sm:mb-4 mb-0 sm:mt-9 mt-3.5 border-b border-solid border-gray-1300">
                            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab"
                                data-tabs-toggle="#default-tab-content" role="tablist">
                                <li class="attivi me-2" role="presentation">
                                    <button
                                        class="inline-block tab-link active  pt-0 px-2.5 pb-2.5 border-b-2 rounded-t-lg text-black-1200/[0.4] font-Ubuntu font-medium text-sm"
                                        id="profile-tab" data-tabs-target="#profile" type="button" role="tab"
                                        aria-controls="profile" aria-selected="false">Attivi</button>
                                </li>
                                <li class="me-2" role="presentation">
                                    <button
                                        class="inline-block tab-link  pt-0 px-2.5 pb-2.5 border-b-2 rounded-t-lg  !text-black-1200/[0.4] font-Ubuntu font-medium text-sm hover:!text-green-1200 hover:border-green-1200 dark:hover:text-green-1200"
                                        id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab"
                                        aria-controls="dashboard" aria-selected="false">In attesa</button>
                                </li>
                                <li class="me-2" role="presentation">
                                    <button
                                        class="inline-block tab-link pt-0 px-2.5 pb-2.5 border-b-2 rounded-t-lg !text-black-1200/[0.4] font-Ubuntu font-medium text-sm hover:!text-green-1200 hover:border-green-1200"
                                        id="settings-tab" data-tabs-target="#settings" type="button" role="tab"
                                        aria-controls="settings" aria-selected="false">Eliminati</button>
                                </li>
                            </ul>
                        </div>
                        <div id="default-tab-content" class="md:pb-20 pb-0">
                            <div class="hidden" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="mt-3 overflow-auto">
                                    <table class="sm:w-full w-[410px] border-spacing-y-[10px] border-separate">
                                        <thead>
                                            <tr>
                                                <th
                                                    class="text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3 rounded-l-lg">
                                                    Nome</th>
                                                <th
                                                    class="text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3">
                                                    Email</th>
                                                <th
                                                    class="text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3 ">
                                                    Ruolo</th>
                                                <th class="bg-gray-1300/[0.5] py-2.5 px-3 rounded-r-lg"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="p-0"></td>
                                                <td class="p-0"></td>
                                                <td class="p-0"></td>
                                                <td class="p-0"></td>
                                            </tr>
                                            <tr>
                                                <td class="border-b py-1.5 px-3 border-solid border-gray-1300">
                                                    <div class="flex items-center">
                                                        <img src="assets/images/team-user.png" class="user-img" alt="" />
                                                        <p
                                                            class="text-black-1200 font-normal ml-1.5 font-Ubuntu text-sm">
                                                            Mario Rossi</p>
                                                    </div>
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    <!-- <a href="#" class="text-black-1200/[0.4]">info@gmail.com</a> -->
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    Collaboratore</td>
                                                <td class="border-b border-solid border-gray-1300"><a href="#"><img
                                                            src="images/Delete.svg" class="del-icon" alt="" /></a></td>
                                            </tr>
                                            <tr>
                                                <td class=" py-1.5 px-3 border-b border-solid border-gray-1300">
                                                    <div class="flex items-center">
                                                        <img src="assets/images/team-user.png" class="user-img" alt="" />
                                                        <p
                                                            class="text-black-1200 font-normal ml-1.5 font-Ubuntu text-sm">
                                                            Sara Meli</p>
                                                    </div>
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    <!-- <a href="#" class="text-black-1200/[0.4]">info@gmail.com</a> -->
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    Amministratore</td>
                                                <td class="border-b border-solid border-gray-1300"><a href="#"><img
                                                            src="images/Delete.svg" class="del-icon" alt="" /></a></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="hidden" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                <div class="mt-3">
                                    <table class="w-full border-spacing-y-[10px] border-separate">
                                        <thead>
                                            <tr>
                                                <th
                                                    class="text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3 rounded-l-lg">
                                                    Nome</th>
                                                <th
                                                    class="text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3">
                                                    Email</th>
                                                <th
                                                    class="text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3 ">
                                                    Ruolo</th>
                                                <th class="bg-gray-1300/[0.5] py-2.5 px-3 rounded-r-lg"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="p-0"></td>
                                                <td class="p-0"></td>
                                                <td class="p-0"></td>
                                                <td class="p-0"></td>
                                            </tr>
                                            <tr>
                                                <td class="py-1.5 px-3 border-b border-solid border-gray-1300">
                                                    <div class="flex items-center">
                                                        <img src="assets/images/team-user.png" class="user-img" alt="" />
                                                        <p
                                                            class="text-black-1200 font-normal ml-1.5 font-Ubuntu text-sm">
                                                            Mario Rossi</p>
                                                    </div>
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    <!-- <a href="#" class="text-black-1200/[0.4]">info@gmail.com</a> -->
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    Collaboratore</td>
                                                <td class="border-b border-solid border-gray-1300"><a href="#"><img
                                                            src="images/Delete.svg" class="del-icon" alt="" /></a></td>
                                            </tr>
                                            <tr>
                                                <td class="border-b py-1.5 px-3 border-solid border-gray-1300">
                                                    <div class="flex items-center">
                                                        <img src="assets/images/team-user.png" class="user-img" alt="" />
                                                        <p
                                                            class="text-black-1200 font-normal ml-1.5 font-Ubuntu text-sm">
                                                            Sara Meli</p>
                                                    </div>
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    <!-- <a href="#" class="text-black-1200/[0.4]">info@gmail.com</a> -->
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    Amministratore</td>
                                                <td class="border-b border-solid border-gray-1300"><a href="#"><img
                                                            src="images/Delete.svg" class="del-icon" alt="" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="hidden" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                                <div class="mt-3">
                                    <table class="w-full border-spacing-y-[10px] border-separate">
                                        <thead>
                                            <tr>
                                                <th
                                                    class="text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3 rounded-l-lg">
                                                    Nome</th>
                                                <th
                                                    class="text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3">
                                                    Email</th>
                                                <th
                                                    class="text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3 ">
                                                    Ruolo</th>
                                                <th class="bg-gray-1300/[0.5] py-2.5 px-3 rounded-r-lg"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="p-0"></td>
                                                <td class="p-0"></td>
                                                <td class="p-0"></td>
                                                <td class="p-0"></td>
                                            </tr>
                                            <tr>
                                                <td class="py-1.5 px-3 border-b border-solid border-gray-1300">
                                                    <div class="flex items-center">
                                                        <img src="assets/images/team-user.png" class="user-img" alt="" />
                                                        <p
                                                            class="text-black-1200 font-normal ml-1.5 font-Ubuntu text-sm">
                                                            Mario Rossi</p>
                                                    </div>
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    <!-- <a href="#" class="text-black-1200/[0.4]">info@gmail.com</a> -->
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    Collaboratore</td>
                                                <td class="border-b border-solid border-gray-1300"><a href="#"><img
                                                            src="images/Delete.svg" class="del-icon" alt="" /></a></td>
                                            </tr>
                                            <tr>
                                                <td class="py-1.5 px-3 border-b border-solid border-gray-1300">
                                                    <div class="flex items-center">
                                                        <img src="assets/images/team-user.png" class="user-img" alt="" />
                                                        <p
                                                            class="text-black-1200 font-normal ml-1.5 font-Ubuntu text-sm">
                                                            Sara Meli</p>
                                                    </div>
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    <!-- <a href="#" class="text-black-1200">info@gmail.com</a> -->
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    Amministratore</td>
                                                <td class="border-b border-solid border-gray-1300"><a href="#"><img
                                                            src="images/Delete.svg" class="del-icon" alt="" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="hidden" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
                                <div class="mt-3">
                                    <table class="w-full border-spacing-y-[10px] border-separate">
                                        <thead>
                                            <tr>
                                                <th
                                                    class="text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3 rounded-l-lg">
                                                    Nome</th>
                                                <th
                                                    class="text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3">
                                                    Email</th>
                                                <th
                                                    class="text-gray-1200 font-Ubuntu text-left font-medium text-xs leading-none bg-gray-1300/[0.5] py-2.5 px-3 ">
                                                    Ruolo</th>
                                                <th class="bg-gray-1300/[0.5] py-2.5 px-3 rounded-r-lg"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="p-0"></td>
                                                <td class="p-0"></td>
                                                <td class="p-0"></td>
                                                <td class="p-0"></td>
                                            </tr>
                                            <tr>
                                                <td class="border-b py-1.5 px-3 border-solid border-gray-1300">
                                                    <div class="flex items-center">
                                                        <img src="assets/images/team-user.png" class="user-img" alt="" />
                                                        <p
                                                            class="text-black-1200 font-normal ml-1.5 font-Ubuntu text-sm">
                                                            Mario Rossi</p>
                                                    </div>
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    <!-- <a href="#" class="text-black-1200/[0.4]">info@gmail.com</a> -->
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] border-b border-solid border-gray-1300 font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    Collaboratore</td>
                                                <td class="border-b border-solid border-gray-1300"><a href="#"><img
                                                            src="images/Delete.svg" class="del-icon" alt="" /></a></td>
                                            </tr>
                                            <tr>
                                                <td class="border-b py-1.5 px-3 border-solid border-gray-1300">
                                                    <div class="flex items-center">
                                                        <img src="assets/images/team-user.png" class="user-img" alt="" />
                                                        <p
                                                            class="text-black-1200 font-normal ml-1.5 font-Ubuntu text-sm">
                                                            Sara Meli</p>
                                                    </div>
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4] font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    <!-- <a href="#" class="text-black-1200/[0.4]">info@gmail.com</a> -->
                                                </td>
                                                <td
                                                    class="text-black-1200/[0.4]  font-Ubuntu font-normal text-sm leading-none py-1.5 px-3">
                                                    Amministratore</td>
                                                <td class="border-b border-solid border-gray-1300"><a href="#"><img
                                                            src="images/Delete.svg" class="del-icon" alt="" /></a></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>